<div class="overlay">
    <div class="content">
        <div class="heading">
            <span style="margin-right: 10px;">My Bag</span>
            <span style="font-weight: 400;">{{cartCount}} items</span>
        </div>

        <div class="cart-list" *ngIf="cartItems.length > 0">
            <div class="cart-item" *ngFor="let item of cartItems">
                <div class="row">
                    <div class="col-md-6">
                        <div class="details">
                            <p class="name">{{item?.name}}</p>
        
        
                            <div class="price">
                                <span class="price-">${{item?.price}}.00</span>
                            </div>
        
                            <div class="size">
                                <span class="title">SIZE:</span>
                                <div class="sizes">
                                    <span class="size-" (click)="selectSize(size, item)"
                                        [ngClass]="item.selectedSize == size ? 'selected-size' : 'size-'"
                                        *ngFor="let size of item?.sizes">{{size}}</span>
                                </div>
                            </div>
        
                            <div class="color">
                                <span class="title">Color:</span>
                                <div class="colors">
                                    <div [ngClass]="item.selectedColor == color ? 'selected-color' : 'color-'"
                                        (click)="selectColor(color, item)" *ngFor="let color of item?.colors" class="color-"
                                        [ngStyle]="{'background': color}"></div>
                                </div>
                            </div>
        
                        </div>
                    </div>
                    <div class="col-md-6 mani">
                        <div class="img-quan">
                            <div class="quan">
                                <div class="plus" (click)="increament(item)">
                                    <img src="assets/icons/overlay-plus.png" alt="">
                                </div>
        
                                <div class="quantity">
                                    <span>{{item.quantity}}</span>
                                </div>
        
                                <div class="minus" (click)="decreament(item)">
                                    <img src="assets/icons/overlay-minus.png" alt="">
                                </div>
                            </div>
        
                            <div class="img">
                                <img [src]="item.img" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer">
            <div class="total">
                <span>Total</span>
                <span>${{total}}</span>
            </div>

            <div class="btns">
                <button routerLink="/cart" class="btn outline-btn">VIEW BAG</button>
                <button class="btn filled-btn">CHECK OUT</button>
            </div>
        </div>
    </div>
</div>