@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Raleway&display=swap');

body {
    font-family: 'Raleway', sans-serif;
    max-width: 1440px;
    margin: 0 auto;
}


@media (min-width: 360px) and (max-width: 920px) {
    body {
        max-width: 100;
        margin: 0 auto;
    }
}
